[tcpout]
defaultGroup = idxclusterSSL
forceTimebasedAutoLB = true
compressed = false

[tcpout:idxclusterSSL]
useSSL = true
sslVersions = tls1.2
cipherSuite = {{ cipher_suite }}
ecdhCurves = {{ ecdh_curves }}
disabled = 0
server = {{ indexers_string }}
autoLBFrequency = 35
useACK = false
sslRootCAPath = /opt/splunk/etc/auth/certs/cacert.pem
clientCert = /opt/splunk/etc/auth/certs/server_unenc.pem
useClientSSLCompression = false