[monitor:///var/log/tower/tower.log]
disabled = false
index = ansible_tower
sourcetype = access_combined

[monitor:///var/log/tower/task_system.log]
disabled = false
index = ansible_tower
sourcetype = access_combined