[monitor:///opt/jfrog/artifactory/var/log/access-*audit.log]
disabled  = false
index = artifactory
sourcetype = access

[monitor:///opt/jfrog/artifactory/var/log/access-request.log]
disabled  = false
index = artifactory
sourcetype = access

[monitor:///opt/jfrog/artifactory/var/log/access-service.log]
disabled  = false
index = artifactory
sourcetype = access

[monitor:///opt/jfrog/artifactory/var/log/artifactory-access.log]
disabled  = false
index = artifactory
sourcetype = artifactory_access

[monitor:///opt/jfrog/artifactory/var/log/artifactory-request.log]
disabled  = false
index = artifactory
sourcetype = artifactory_request

[monitor:///opt/jfrog/artifactory/var/log/event-request.log]
disabled  = false
index = artifactory
sourcetype = event_request

[monitor:///opt/jfrog/artifactory/var/log/router-request.log]
disabled  = false
index = artifactory
sourcetype = router_request