[monitor:///opt/nessus/var/nessus/logs/backend.log]
disabled = false
index = tenable
sourcetype = access_combined

[monitor:///opt/nessus/var/nessus/logs/www_server.log]
disabled = false
index = tenable
sourcetype = access_combined