---
admin_password: '{{ aap_admin }}'
ansible_user: svc_ansible
ansible_password: '{{ svc_ansible_password }}'
pg_password: '{{ db_password }}'
ansible_ssh_pass: '{{ svc_ansible_password }}'
ansible_become_pass: '{{ svc_ansible_password }}'
