{% raw %}{{% endraw %}
    "Version": "2012-10-17",
    "Statement": [
{% for account in share_accounts | split('\n') %}
{% if loop.last %}
        {
            "Sid": "",
            "Effect": "Allow",
            "Principal": {
                "AWS": "arn:{{ partition }}:iam::{{ account }}:root"
            },
            "Action": "secretsmanager:GetSecretValue",
            "Resource": "*"
        }
        {% else %}
        {
            "Sid": "",
            "Effect": "Allow",
            "Principal": {
                "AWS": "arn:{{ partition }}:iam::{{ account }}:root"
            },
            "Action": "secretsmanager:GetSecretValue",
            "Resource": "*"
        },
{% endif %}
{% endfor %}
    ]
{% raw %}}{% endraw %}